.app {
  text-align: center;

  &__name {
    margin-top: 1rem;
    font-size: 3.125rem;
  }

  &__instructions {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    &__black {
      color:#f8f8f2;
      background-color: #272822;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

    }
    &__small {
      max-width: 60rem;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &__small2 {
      font-size: 1.5rem;
      max-width: 95rem;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

  }

  &__instructions2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__instructions3 {
    font-size: 2rem;
    font-weight: bold;
    color:red;
    margin-bottom: 1rem;
  }
}
.formComp{
  text-align: left;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 3%;
}


.MuiGrid-spacing-xs-10{
  width: calc(100% + 80px);
  margin: -40px 0px -40px 0px !important;

}

